.navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.youtubelogo{
  width: 10%;
  margin-left: 6%;

}

#search{
    -webkit-font-smoothing: antialiased;
    border-radius: 30px;
    font-size: 20px;
    height: 60px;
    margin-left: 18%;
    padding: 0 30px;
    width: 500px;
}

/* Youtube list css */


.card-conatiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 6%;
}
.card {
  width: 21%;
  min-width: 214px;
  border-radius: 14px;
  height: auto;
  margin: 34px 21px;
  cursor: pointer;
  background-color: #fff;
}

.card .img img {
  width: 100%;
  border-radius: 14px;
}
.card .details {
  padding-left: 10px;
  margin: 10px auto;
}
.card .details h3 {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: rgb(27, 25, 25);
}
.card .details h4 {
  margin-top: 10px;
  text-align: left;
  font-size: 12px;
  color: rgb(110, 110, 110);
}
.card .details h5 {
  margin-top: 14px;
  text-align: left;
  font-size: 11px;
  letter-spacing: 1px;
  color: #484b4b;
}
.likesandviews{
  display: flex;
  justify-content: space-between;
}

.channel_detail{
  display: flex;
}

.channel_logo{
  width: 39px;
  padding: 2px;
  margin-left: 3px;
  border-radius: 100px;
}